name: rootfs

permissions:
  contents: write

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        arch: [amd64, arm64, armhf]
        include:
          - arch: amd64
            runner: ubuntu-latest
          - arch: arm64
            runner: ubuntu-24.04-arm
          - arch: armhf
            runner: ubuntu-24.04-arm

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Print architecture
        run: echo "Running for ${{ matrix.arch }}"

      - name: Run setup.sh
        run: |
          chmod +x ./setup.sh
          sudo ./setup.sh "${{ matrix.arch }}"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ubuntu-rootfs-${{ matrix.arch }}
          path: |
            ${{ matrix.arch == 'amd64' && 'ubuntu-base-x86_64.tar.gz' || '' }}
            ${{ matrix.arch == 'arm64' && 'ubuntu-base-arm64-v8a.tar.gz' || '' }}
            ${{ matrix.arch == 'armhf' && 'ubuntu-base-armeabi-v7a.tar.gz' || '' }}

  release:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            artifacts/ubuntu-rootfs-amd64/ubuntu-base-x86_64.tar.gz
            artifacts/ubuntu-rootfs-arm64/ubuntu-base-arm64-v8a.tar.gz
            artifacts/ubuntu-rootfs-armhf/ubuntu-base-armeabi-v7a.tar.gz